<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/profile.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div>
        <nav class="topnav">
            <a href="javascript:void(0)" class="icon" onclick="userProfile()"><i class="fa fa-bars"></i></a>
            <div class="move-right">
                <a href="/"><img src="https://res.cloudinary.com/yagmus/image/upload/v1569316757/Group_4_wzszaa.png" style="height: 18px" alt="Logo"></a>
      
            </div>
            <div class="header1">
                <div class="search-div">
                    <form action="" id="form">
                        <!-- <label for="search"></label> -->
                        <!-- <i class="fa fa-fw fa-search"></i> -->
                        <input type="text" id="search" name="searchEngine" onkeyup="searchTweet()" placeholder="search for tweets">
                    </form>
                </div>
                <a href="./contactus.html"> Contact Us </a>
            </div>
        </nav>
        <hr>
    </div>
    <nav id="mobile-nav" role="navigation">
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <div class="name-intro">
                    <h3>Welcome Jude</h3>
                    <q>Knowing is not enough, we must apply it.</q>
                </div>
                <div class="profile-pic">
                    <img class="images" src="https://res.cloudinary.com/yagmus/image/upload/v1566519244/felix_mndbjf.jpg" alt="profile picture">
                    <div class="user-name-right">
                        <h4>Judie Edima</h4>
                        <p>@judie</p>
                    </div>
                </div>
                <br><br>
                <a href="#">
                    <li> <img src="https://res.cloudinary.com/walebant/image/upload/v1569500423/samples/enyo-bot/tweets.svg" alt="tweets-icon"> Tweets</li>
                </a>
                <a href="#">
                    <li> <img src="https://res.cloudinary.com/walebant/image/upload/v1569500423/samples/enyo-bot/tweets.svg" alt="tweets-icon"> Threads</li>
                </a>
                <a href="#">
                    <li> <img src="https://res.cloudinary.com/walebant/image/upload/v1569500404/samples/enyo-bot/manage.svg" alt="manage-icon"> Manage</li>
                </a>
                <a href="#">
                    <li> <img src="https://res.cloudinary.com/walebant/image/upload/v1569500367/samples/enyo-bot/account.svg" alt="account-icon"> My Account</li>
                </a>
                <a href="#">
                    <li> <img src="https://res.cloudinary.com/walebant/image/upload/v1569500397/samples/enyo-bot/help.svg" alt="help-icon"> Help</li>
                </a>
            </ul>
        </div>
    </nav>
    <main class="main-class">
        <div class="divider">
            <div class="divider2">
                <div>
                    <a href="#"><img class="categories-icon" src="https://res.cloudinary.com/walebant/image/upload/v1569669801/samples/enyo-bot/categories.svg" alt=""></a>
                    <!-- TWEET TABLE -->
                    <table id="item">
                        <tr>
                            <th>Tweets</th>
                            <th>Created on</th>
                            <th>Link</th>
                        </tr>
                        <tr class="cont">
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate modi autem amet,</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate modi autem amet,</td>
                            <td>20/09/2019</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <script src="../public/js/profile.js"></script>
    <!--  -->
    <!--  -->
    <!--  -->
</body>

</html>

<script>
    async function load() {
        f1 = new FormData()
        f1.append('user_id', 11)
        response1 = await fetch('/get-twitter-accounts', {
            method: 'post',
            body: f1
        })
        data1 = await response1.json()
        twitter_accts = data1.data
        for (acct of twitter_accts) {
            f2 = new FormData()
            f2.append('user_id', acct.id)
            response2 = await fetch('/update-tweets', {
                method: 'post',
                body: f2
            })
            data2 = await response2.json()
        }
        for (acct of twitter_accts) {
            f3 = new FormData()
            f3.append('user_id', acct.id)
            response3 = await fetch('/fetch-tweets', {
                method: 'post',
                body: f3
            })
            data3 = await response3.json()
            alert(data3)
            console.log(data3)
        }
    }
    load()
</script>
