<!DOCTYPE html>
<html>

<head>
    <title>sign in page</title>
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <Header>
        <div class="logo">
            <img src="https://res.cloudinary.com/cynthiaomovoiye/image/upload/v1569318093/team-enyo-twitter-bot-project/Group_4_c0mkdp.png" alt="logo" />
        </div>
    </Header>
    <div class="background-image">
        <img src="https://res.cloudinary.com/cynthiaomovoiye/image/upload/v1569318018/team-enyo-twitter-bot-project/Frame_rar5yv.png" alt="image" />
    </div>
    <form method="post" action="form.php" name="myForm" id="myForm">
        <div class="signup-form">
            <div class="signupText">
                <h4>Sign In</h4>
            </div>
            <input type="email" placeholder="Email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
            <input type="password" id="password" name="password" placeholder="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must be at least 8 characters and contain at least one number, one uppercase and one lowercase letter" required>
            <div>
                <button type="submit" value="submit" id="btn" class="button">Log In</button>
            </div>
            <div class="sign-up">
                <span>No account yet? &nbsp; &nbsp;<a href="/signup">Sign Up</a></span>
            </div>
            <div class="twitter-link">
                <img src="https://res.cloudinary.com/mide358/image/upload/v1569399147/ICON_TWITTER_1_bv6cah.png" alt="twitter-logo">
                <span>Sign in with </span> <a href="http://twitter.com" target="_blank">twitter</a></div>
        </div>
    </form>
    <script src="/js/signin.js"></script>
</body>

</html>
<script>
document.querySelector('form').onsubmit = (e) => {
    e.preventDefault()
    data = new FormData()
    data.append('email', document.querySelector('#email').value)
    data.append('password',document.querySelector('#password').value)
    fetch('/signin', {
        method: 'post',
        body: data
    }).then((res) => {
        res.json().then((data) => {
            alert(data['message'])
        })
    }).catch((err) => {
        console.log(e)
    })
}
</script>