<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Team Enyo Twitter Bot :: Signup Page</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/signup.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <!-- twittwer-bot-logo -->
        <div class="row">
            <div class="col">
                <div class="logoDiv">
                    <img src="https://res.cloudinary.com/cynthiaomovoiye/image/upload/v1569318093/team-enyo-twitter-bot-project/Group_4_c0mkdp.png" alt="logo" />
                </div>
            </div>
        </div>
        <!-- row for contents in the page -->
        <div class="row" id="main-content-div">
            <div class="col-md-6">
                <div class="imgDiv" id="first-col">
                    <img src="https://res.cloudinary.com/cynthiaomovoiye/image/upload/v1569318018/team-enyo-twitter-bot-project/Frame_rar5yv.png" alt="app-img" width="60%" />
                </div>
            </div>
            <!-- signup form -->
            <div class="col-md-6">
                <form method="post" action="form.php" name="myForm" class="signup-form" id="myForm">
                    <div class="container">
                        <div class="signupText">
                            <h4>Sign Up</h4>
                        </div>
                        <hr>
                        <input type="text" placeholder="Enter First Name" aria-describedby="name-format" id="fname" name="fname">
                        <p id="fname_error" class="wrong-input"></p>
                        <input type="text" placeholder="Enter Last Name" id="lname" name="lname">
                        <p id="lname_error" class="wrong-input"></p>
                        <input type="email" placeholder="Enter Email" id="email" name="email">
                        <p id="email_error" class="wrong-input"></p>
                        <input type="password" placeholder="Enter Password" id="password" name="password">
                        <p id="password_error" class="wrong-input"></p>
                        <input type="password" placeholder="Confirm Password" id="cpassword" name="cpassword">
                        <p id="cpassword_error" class="wrong-input"></p>
                        <p>By creating an account you agree to our
                            <a href="#" style="color:dodgerblue">Terms & Privacy</a>.
                        </p>
                        <div class="clearfix">
                            <button type="submit" value="submit" class="btn btn-primary">Sign Up</button>
                            <h5>Sign In with <a href="#">twitter</a></h5>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/validate-signup.js"></script>
</body>

</html>