<!DOCTYPE html>
<html>
<head>
 <title>sign in page</title>
 <meta name="viewport" content="width=device-width" initial-scale="1">
 <!-- <link rel="stylesheet" type="text/css" href="./w3.css"> -->
 <link rel="stylesheet" type="text/css" href="/css/login.css">
 </head>
 <body style="background-color:  #cddbffff;">
    <div style="height: 70px; background-color:white;">
            <img src="https://res.cloudinary.com/cynthiaomovoiye/image/upload/v1569318018/team-enyo-twitter-bot-project/Group_4_c0mkdp.png"
            alt="logo" style="margin-left: 8%; margin-bottom: 2%; margin-top: 2%; max-width: 100px ;"/>
    </div>
    <div style="display: flex; flex-direction:row">
    <div class="div1">
<img src="https://res.cloudinary.com/cynthiaomovoiye/image/upload/v1569318018/team-enyo-twitter-bot-project/Frame_rar5yv.png"
 alt="image" width="100%"/>
    </div>  
 <div class="div2">
        <p class="heading">Sign In</p>
           <form name="myForm" id="myForm" action="signup.html" class="hng" method="post">
               <input type="text" id="username" name="username" placeholder="username">
               <p id="ist"></p>
               <input type="password" id="password" name="password" placeholder="password">
               <p id="secs"></p>
               <p class="check"> <input type="checkbox" name="check"
                   value="checkbox" checked="checked"> Remember me</p>
               <input type="submit"  value="LOG IN"> 
           
           </form>
           <p class="pet">
               <a href="signup.html">No account yet?</a>
           </p>
       </div>
       </div>
       <script src="/js/signin.js"></script>
</body>
</html>
