body{
    background-color: #e5e5e5
}
.setuptwitter{
width: 222px;
height: 43px;
left: 609px;
top: 231px;

font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 43px;

color: #109CF1;

}
.twitterhandle{
/* position: absolute; */
width: 395px;
height: 39px;
left: 522px;
top: 323px;

background: rgba(254, 254, 251, 0.05);
border: 1px solid rgba(3, 8, 64, 0.3);
box-sizing: border-box;
border-radius: 5px;
}

.twitterhandle23{
    top: 399px !important;
}

.authenticate{
    /* position: absolute; */
width: 240px;
height: 50px;
left: 600px;
top: 657px;

background: #109CF1;

}

#buttonimg{
    width: 15px;
    height: 15px;
}