* {
    margin: 0;
    /* padding: 0;overflow: hidden; */

}

.topnav{
    overflow: hidden;
}

.topnav a {
    padding: 20px;
    float: left;
    text-align: center;
    text-decoration: none
}
.move-right{
    float: right;
}

.topnav .divider1 .icon {
    display: block;
    position: absolute;
    top: 0;
    
}

.topnav #hide {
    display: none
}

.main-class{
    width: 100%
}

.divider {
    box-sizing: border-box;
}

.divider1{
    float: left;
    width: 30%;
    background: #109cf1;
    height: 100%;
}

.divider1 #exit{
    float: right;
    padding-top: 10px;
    padding-right: 8px;
    color: #ffffff

}

.divider1 .name-intro {
    margin-top: 80px;
    padding-left: 2vw;
    padding-right: 30px;
    /* word-wrap: break-word; */
}

.name-intro h3 {
    color: white;
    font-size: 1em;
}

.name-intro p {
    font-size: 2.5vw;
    /* line-height: 14px; */
    font-family: 'Lato';
    color: #ccc;
    /* text-justify: left; */
    text-align: unset;
}

.divider1 .profile-pic{
    margin-top: 30px;
    padding-left: 2vw;
}

.divider1 .profile-pic img {
    max-width: 12vw;
    max-height: 12vh;
}

.user-name-right{
    /* float: right; */
    margin-left: 10vw;
    margin-top: -12vh;
    /* margin-right: 0px; */
    /* margin-top: 0px; */
    color: #ffffff
}

.user-name-right p{
    color: #ccc;
    /* margin-left: -80vw; */
}

.images {
    height: 90px;
    width: 90px;
    border-radius: 100%
}

.divider1 .search-div {
    margin-top: 5vh;
    padding-left: 1vw;
}

.search-div input{
    width: 80%;
    border-right: none;
    border-top: none;
    border-left: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none;
}

/* .search-div .fa-search {
    float: right;
    margin-right: 220px;
    margin-top: 20px
} */

.divider1 .manage-system{
    padding-left: 3vw;
    margin-top: 30px;
}

.manage-system p {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 15px;
}

.divider2{
    float: left;
    width: 70%
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 16px;
}

th {
    font-size: 1rem;
}
td {
    font-size: 1.5vw;
}
tr > td:nth-child(1) {
    width: 100%;
}

tr:nth-child(even) {
    background-color: #f2f2f2
  }

@media (max-width: 500px) {
    
    .divider1 .profile-pic img {
        max-width: 8vw;
        max-height: 5vh;
    }
    
    .user-name-right{
        margin-left: 0;
        margin-top: 10px;
        width: 70px;
    }
    
    .user-name-right h4, .user-name-right p{
        font-size: 10px;
    }
}

@media (min-width: 900px) {
    .name-intro p {
        font-size: 2vw;
    }
}