@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body {
    Background: #CDDBFF;
}

.imgDiv img {
    margin-top: 25%;
    margin-left: 30%; 
    margin-right: 7%;

}

.logoDiv {
    position:absolute;
    width:100%;
    padding-left: 5%;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    padding-top: 10px;
    padding-bottom: 10px;
}

* {box-sizing: border-box}

.signup-form {
    position: absolute;
    margin-top: 20%;
    height: 470px;
    width: 579px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    border-radius: 55px;
    width: 60%;
    margin-right: 30%;
}

.signupText h4 {
    margin-top: 35px;
    color: grey;
    font-size: 22px;
    padding-bottom: 15px;
}



/* Full-width input fields */
  input {
    width: 80%;
    display: inline-block;
    background: rgba(254, 254, 251, 0.05);
    color: rgba(3, 8, 64, 0.56);
    border: 1px solid rgba(3, 8, 64, 0.3);
    box-sizing: border-box;
    border-radius: 5px;
    
}

input[placeholder] {
    font-size: 12px;
    color: rgba(21, 54, 153, 0.5);
    line-height: 14px;
    padding: 10px;
}

/* Set a style for all buttons */
.btn {
  background-color: #109CF1;
  color: white;
  margin: 0 25%;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  margin-top: 20px;
  margin-bottom: 10px;
}

button:hover {
  opacity:1;
}

.wrong-input {
    color: red;
    animation: shake 0.5s;
    animation-iteration-count: 2;
} 



/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  border-radius: 30px;
  background-color: #f44336;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}
.container p { font-size: 13px; }


/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clearfix {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clearfix h5 {
    font-size: 13px;
    line-height: 22px;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .signupbtn { width: 100%;}
}