#main-content-div { 
    background: #CDDBFF; opacity: 0.7; height: 97vh;
}

#main-content-div div { margin: auto; }

.imgDiv img { margin-left: 35%; margin-right: 5%; width: 60%; }

.logoDiv { margin: 7px 0; padding-left: 2%; }

.logoDiv img { width: 100px; }

.flip-img img {
    margin-right: 35%;  margin-left: 5%; width: 60%; -webkit-transform: scale(1); transform: rotateY(180deg);
}

* {box-sizing: border-box}

#myForm {
    width: 80%;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    background: #FFFFFF;
    color: rgba(3, 8, 64, 0.56);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
}

/* Full-width input fields */
    input[type=text], input[type=password], input[type=email] {
    width: 80%;
    margin: 2% 10%;
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #E0E0E0; 
}

input[type=text]:focus, input[type=password]:focus,input[type=email]:focus {
    outline: none;
  }

input[placeholder] {
    font-size: 13px;
    color: darkslategray;
    padding: 5px;
}

input {
    background: white;
    max-height: 70px;
    border-radius: 10px;
    line-height: 17px;
}

hr {
    border: 1px solid #f1f1f1;
    width: 80%;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
.btn {
    background-color: #109CF1;
    color: white;
    margin: 0 30%;
    cursor: pointer;
    width: 40%;
}

.wrong-input {
    color: red; animation: shake 0.5s; animation-iteration-count: 2;
} 

/* Add padding to container elements */
.container { padding: 25px; }

.container p { font-size: 13px; }

.container h5 { color: grey; font-size: 20px; }

/* Clear floats */
.clearfix::after { 
    content: ""; clear: both; display: table;
}

.clearfix {
    display: flex; flex-direction: column; justify-content: center;
}

.clearfix div {
    padding-bottom: -10px;
}

.clearfix button {
    width: 120px;
    margin: 0 auto;
    border-radius: 20px 2px;
}

.clearfix h5 {
    font-size: 13px; line-height: 27px; font-weight: 400;
}
/* for tablets and Ipad view */
@media screen and (max-width: 768px) {
    #myForm { width: 100%; margin: 0; border-radius: 30px; }

    input[placeholder] {
        font-size: 17px;
        color: darkslategray;
        padding: 9px;
        width: 90%;
        margin: 2% 5%;
    }
    .imgDiv img { margin-left: 35%;  margin-right: 5%; width: 70%;
    }
    
    .logoDiv { margin: 7px 0; padding-left: 2%; }
    
    .logoDiv img { width: 110px; margin-left: 3%; }
    
    .flip-img img {
        margin-right: 25%; 
        margin-left: 5%;
        width: 70%;
        border: 1ps solid red;
        -webkit-transform: scale(1);
        transform: rotateY(180deg);
    }

    .clearfix button {
        font-size: 18px;
        width: 135px;
        margin: 0 auto;
        border-radius: 20px 2px;
    }
    
    .container h5 { color: grey; font-size: 20px; }

    .clearfix h5 { 
        font-size: 17px; line-height: 27px; font-weight: 300;
    }
}

/* for Iphones and Android devices */
@media screen and (max-width: 414px){
    #main-content-div { height: 100vh; }

    .imgDiv img { width: 30%; margin: 0 35% 3%; }

    .flip-img img { display: none; }

    input[placeholder] {
            font-size: 13px;
            color: darkslategray;
            padding: 6px;
            width: 90%;
            margin: 2% 5%;
    }
    
    input { line-height: 14px; }

    #myForm { width: 82%; margin: 0 8% 20%; border-radius: 30px; } 


    .container h5 { color: grey; font-size: 16px; }

    .clearfix div {
        padding-bottom: -5px;
    }
    .clearfix h5 { 
        font-size: 13px; line-height: 20px; font-weight: 300;
    }
    .clearfix button {
        width: 100px;
        margin: 0 auto;
    }

    @media screen and (max-width: 320px) {
        #myForm { 
            width: 80%; margin: 0 10%;
            border-radius: 30px;
        }

        .logoDiv img { width: 100px; margin-left: 3%; }

        .imgDiv img { width: 20%; margin: 0 40% 3%; }

        .clearfix div span { font-size: 14px; }

        input[placeholder] { padding: 4px; }

        input { line-height: 16px; }

 

    }
}